doctype html
//- home page
html
  head
    title World Guesser - About
    link(rel="stylesheet", href="styles.css")
  body.container.home-background
    nav.home-nav
      h1 WORLD GUESSER PROJECT
      h2 Senior Computing and Informatics Capstone
      p
        | Lead Developer: Noah Wise
      p
        | Lead HTML and CSS: Nisargsinh Vaghela
      p Mid-Level Developers:
      ul
        li Rad Pena
        li Hunter Rolph
        li Kyle Ernst
      p Description:
      p World guessing game developed in JavaScript.
      p Server runs on localport:1234 using a local Express server.
      p JSONbin is used for the database and consists of two Bins.
      p Pug and HTML are used for the markup language.
    ul
      li 
      a(href="/home") home