<!DOCTYPE html>
//- view for pulling up google maps api streetview with map modal on top
html
  head
    style 
      include styles.css
    title Google Maps Integration


  body
    #pano(style="position: absolute; width: 100%")

    //- Modal HTML
    #mapModal.modal(style="position: relative; z-index: 250")
      .modal-content
        span.close &times;
        #map(style="position: relative; width: 100%; margin: 0; padding: 10px")

    //- Trigger Modal Open Button
    button#openModalButton Map

    //- Load Google Maps API dynamically (handled in maps.js)
    script(src="/create.js")
