<!DOCTYPE html>
//- view for pulling up google maps api streetview with map modal on top
html
  head
    style 
      include styles.css
  
    title Google Maps Integration


  body
    #pano(style="position: absolute; height: 100%; width: 100%; z-index: 1")

    //- Modal HTML
    #mapModal.modal(style="position: absolute; top: 10px; left 10px")
      .modal-content
        span.close &times;
        #map(style="position: absolute; width: 100%; margin: 0; padding: 1px;")

    //- Trigger Modal Open Button
    button#openModalButton(style="position: absolute;") Map

    //- Load Google Maps API dynamically (handled in maps.js)
    script(src="/create.js")
