<!DOCTYPE html>
//- view for pulling up googlemaps api streetview with map modal on top
html
  head
    style 
      include styles.css
    title Google Maps Integration


  body
    #pano(style="position: absolute; top: 40px; bottom: 20px; width: 100%; z-index: 2;")

    //- Modal HTML
    #mapModal.modal
      .modal-content
        span.close &times;
        #map(style="position: relative; top: 40px; bottom: 20px; z-index: 2500000")

    //- Trigger Modal Open Button
    button#openModalButton Open Map Modal

    //- Load Google Maps API dynamically (handled in maps.js)
    script(src="/create.js")
