html
  head
    title Game Selection
    link(rel="stylesheet", href="/styles.css")
  body
    .scroll-container
      main
        h1.form-title Games List
        nav.home-nav
          ul#games-list
            each game in games
              li
                form(action="/select-game", method="POST")
                  input(type="hidden", name="gameId", value=game._id)
                  input(type="submit", value=game._id + ': ' + game.description)
            li
              a(href="/home") Home
