<!DOCTYPE html>
//- home page
html
  head
    style 
      include styles.css
      
title 

main
  h1.title.home-title.container world guessr

body.container.home-background
  nav.home-nav
    ul
      li 
      a(href="/games") games
      li 
      a(href="/create") create
      li 
        a() Settings 
      li
        a() LeaderBoard 
      li 
      a(href="/logout") logout