<!DOCTYPE html>
//- login page using get and put json data in app.mjs doc
html
  head
    style
      include styles.css
  title LOGIN
  main
    h1.form-title.container.title LOGIN
  body.form-background
    form.form-container(method="POST")
      .input
        label(for="Username") Username
        input#uname(type="text", name="uname")
      .input
        label(for="Password") Password
        input#pword(type="password", name="pword")
      .input
        input#submit(type="submit", value="Submit")
    <script src="getJSONData.js"></script>
    <script src="putJSONData.js"></script>

    ul
      li
        a#submit(href='/') Landing Page
      li
        a#submit(href='/register') Register
