<!DOCTYPE html>
//- view for pulling up googlemapsapi streetview with map modal on top
html
  head
    style 
      include styles.css
    title Google Maps Integration
  body
    h1 Google Maps with Street View
    if selectedGame
      p Selected Game: #{selectedGame._id}: #{selectedGame.description} 
      p <h2 id="roundDisplay">Round: 1 / 5</h2>
      p <h3 id="totalscore">Total Score: 0</h3>
      p <h4 id="scoreDisplay"></h4>



      #pano(style="height: 650px; width: 100%; margin-top: 10px;")

      button#openModalButton Open Map Modal
      <button id="submitGuess">Submit Guess</button>
      <button id="hintButton">Hint</button>

    else
      p No game selected! maps.pug
    

    #mapModal.modal
      .modal-content
        span.close &times;
        #map(style="height: 300px; width: 100%;")




    script(src="/maps.js")
