<!DOCTYPE html>
//- view for pulling up googlemapsapi streetview with map modal on top
html
  head
    style 
      include styles.css
    title Google Maps Integration
  body
    h1 Google Maps with Street View
    if selectedGame
      p Selected Game: #{selectedGame._id}: #{selectedGame.description} 
      #pano(style="height: 800px; width: 100%; margin-top: 10px;")
    else
      p No game selected! maps.pug
    

    #mapModal.modal
      .modal-content
        span.close &times;
        #map(style="height: 300px; width: 100%;")

    button#openModalButton Open Map Modal

    script(src="/maps.js")
