doctype html
html
  head
    title REGISTER
    style
      include styles.css
  body.form-background
    main
      h1.title.container.form-title Create Your Account
    form.form-container(method="POST")
      .input
        label.label(for="Username") Username
        input#uname(type="text", name="uname", value=uname)
      .input
        label.label(for="Password") Password
        input#pword(type="password", name="pword")
      .input
        label.label(for="email") Email
        input#email(type="email", name="email", value=email)
      .input
        input#submit(type="submit", value="Submit")
    if msg
      .error
        p= msg

    ul
      li
        a#submit(href='/') Landing Page
      li
        a#submit(href='/login') Login
