html
  head
    style 
      include styles.css
    title SCORE
  body
    h1 Your Total Score
    if selectedGame
      p Selected Game: #{selectedGame._id}: #{selectedGame.description} 
      p <h3 id="totalscore">Total Score: #{score}</h3>
    a(href="/games") Play Again

    script(src="/scores.js")
